<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>H2AY</title>
    {% load static%}
    <!-- BOOTSTRAP -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- LOCAL CSS -->
    <link rel="stylesheet" href="{% static 'project_app/css/index.css' %}">
    <!-- CSS RESET -->
    <link rel="stylesheet" href="{% static 'project_app/css/normalize.css' %}">
    <!-- JAVASCRIPT -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.btn').click(function() {
                $('.wrap').slideToggle(400);
            });
        });
    </script>
</head>

<body>
    <div class="top">
        <h1>How 
    Hungry
        Are
            You?
            </h1>
        <h6>A food decision application designed by:
                        Jason Lu
                            Masa Hanatate
                                and Jason Wang
        </h6>
    </div>
        

    <div id="survey">
        <form action="/validate_register" method="POST">
            <h2>Register</h2>
            {% csrf_token %}
            <label>
                <p class="label-txt">First Name</p>
                <input type="text" class="input" name="first_name">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <label>
                <p class="label-txt">Last Name</p>
                <input type="text" class="input" name="last_name">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <label>
                <p class="label-txt">Email</p>
                <input type="email" class="input" name="email">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <label>
                <p class="label-txt">Password</p>
                <input type="password" class="input" name="password">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <label>
                <p class="label-txt">Confirm Password</p>
                <input type="password" class="input" name="confirm_password">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <button type="submit" class="create">Register</button>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </form>
    </div>

    <div class="wrap">
        <div class="container">
                <form action="/validate_login" method="POST">
                    {% csrf_token %}
                    <label>
                        <p class="label-txt">Email</p>
                        <input type="email" class="input" name="login_email">
                        <div class="line-box">
                            <div class="line"></div>
                        </div>
                    </label>
                    <label>
                        <p class="label-txt">Password</p>
                        <input type="password" class="input" name="login_password">
                        <div class="line-box">
                            <div class="line"></div>
                        </div>
                    </label>
                    <button type="submit" class="create">Login</button>
                    <p class="error">{{request.session.error}}</p>
                </form>
        </div>
    </div>
    <div class="container2">
        <div class="btn">Login</div>
    </div>
    <!-- <div id="survey">
        <form action="/validate_login" method="POST">
            <h2>Login</h2>
            {% csrf_token %}
            <label>
                <p class="label-txt">Email</p>
                <input type="email" class="input" name="login_email">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <label>
                <p class="label-txt">Password</p>
                <input type="password" class="input" name="login_password">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <button type="submit" class="create">Login</button>
            <p class="error">{{request.session.error}}</p>
        </form>
    </div> -->
</body>


</html>