<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>H2AY</title>
    {% load static%}
    <!-- BOOTSTRAP -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- LOCAL CSS -->
    <link rel="stylesheet" href="{% static 'project_app/css/index.css' %}">
    <!-- CSS RESET -->
    <link rel="stylesheet" href="{% static 'project_app/css/normalize.css' %}">

</head>

<body>
    <div id="survey">
        <h1>Munch Wheel</h1>
        <form action="/validate_register" method="POST">
            <h2>Register</h2>
            {% csrf_token %}
            <label>
                <p class="label-txt">First Name</p>
                <input type="text" class="input" name="first_name">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <label>
                <p class="label-txt">Last Name</p>
                <input type="text" class="input" name="last_name">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <label>
                <p class="label-txt">Email</p>
                <input type="email" class="input" name="email">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <label>
                <p class="label-txt">Password</p>
                <input type="password" class="input" name="password">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <label>
                <p class="label-txt">Confirm Password</p>
                <input type="password" class="input" name="confirm_password">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <button type="submit" class="create">Register</button>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </form>
    </div>
    <div id="survey">
        <form action="/validate_login" method="POST">
            <h2>Login</h2>
            {% csrf_token %}
            <label>
                <p class="label-txt">Email</p>
                <input type="email" class="input" name="login_email">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <label>
                <p class="label-txt">Password</p>
                <input type="password" class="input" name="login_password">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <button type="submit" class="create">Login</button>
            <p class="error">{{request.session.error}}</p>
        </form>
    </div>
</body>

</html>