<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>H2AY</title>
    {% load static%}
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'project_app/css/preferences.css' %}">
    <link rel="stylesheet" href="{% static 'project_app/css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
    <!-- CSS RESET -->
    <link rel="stylesheet" href="{% static 'project_app/css/normalize.css' %}">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'project_app/js/main.js' %}"></script>
    <script>
        $(document).ready(function(){
        // Check Radio-box
            $(".rating input:radio").attr("checked", false);
            
            $('.rating input').click(function () {
                $(".rating span").removeClass('checked');
                $(this).parent().addClass('checked');
            });
        
            // $('input:radio').change(
            //   function(){
            //     var userRating = this.value;
            //     alert(userRating);
            // }); 

            $(li).click(function(){
                var val = $(this).attr("value");
                $("#category").val(val);
                return true;
            })

        });
        
    </script>
</head>

<body>

    <div class="top">
        <h1>How 
    Hungry
        Are
            You?
        </h1>
        <h6>A food decision application designed by:
                        Jason Lu
                            Masa Hanatate
                                and Jason Wang
        </h6>
    </div>

    <div id="survey">
        <form action="/process_preferences" method="POST">
            <h2>Your Preferences</h2>
            {% csrf_token %}
            <label>
                <p class="label-txt">City</p>
                <input type="text" class="input" name="city" placeholder="ex. Bellevue">
            </label>
            <label>
                <p class="label-txt">State</p>
                <input type="text" class="input" name="state" placeholder="ex. WA">
            </label>
            <label>
                <div class="dropdown">
                    <div class="select">
                        <span>Type of Cuisine</span>
                        <i class="fa fa-chevron-left"></i>
                    </div>
                    <input id="category" type="hidden" value="" name="category">
                    <ul class="dropdown-menu">
                        <li id=american>American</li>
                        <li id=chinese>Chinese</li>
                        <li id=french>French</li>
                        <li id=greek>Greek </li>
                        <li id=indian>Indian</li>
                        <li id=italian>Italian</li>
                        <li id=japanese>Japanese</li>
                        <li id=korean>Korean </li>
                        <li id=mediterranean>Mediterranean</li>
                        <li id=mexican>Mexican</li>
                        <li id=spanish>Spanish</li>
                        <li id=thai>Thai</li>
                        <li id=vietnamese>Vietnamese</li>
                    </ul>
                </div>
            </label>
            <label>
                <div class="dropdown">
                    <div class="select">
                        <span>Your Price Range</span>
                        <i class="fa fa-chevron-left"></i>
                    </div>
                    <ul class="dropdown-menu">
                        <li>Seriously broke or maybe just frugal $
                            <input type="hidden" value="1" name="price"></li>
                        <li>Definitely frugal but making an exception $$
                            <input type="hidden" value="1,2" name="price"></li>
                        <li>Quality over frugality always $$$
                            <input type="hidden" value="1,2,3" name="price"></li>
                        <li>Too baller to care about the bill $$$$
                            <input type="hidden" value="1,2,3,4" name="price"></li>
                    </ul>
                </div>
            </label>
            <label>
                <p class="label-txt">Rating</p><br>
                <div class="rating" name="rating">
                    <span><input type="radio" name="rating" id="str5" value="5"><label for="str5"></label></span>
                    <span><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
                    <span><input type="radio" name="rating" id="str3" value="3"><label for="str3"></label></span>
                    <span><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
                    <span><input type="radio" name="rating" id="str1" value="1"><label for="str1"></label></span>
                </div>
            </label>
            <div class="container2">
                <div class="btn">Advanced Search</div>
            </div>
            <button type="submit" class="create">Confirm</button>
        </form>
    </div>

    <div class="wrap">
        <div class="s007">
            <form action="/process_advanced_preferences" method="POST">
            {% csrf_token %}
            <div class="inner-form">
                <div class="advance-search">
                <span class="desc">Advanced Search</span>
                <label class="container">Gluten Free
                    <input type="checkbox" checked="checked" name="gluten" value="gluten">
                    <span class="checkmark"></span>
                </label>
                
                <label class="container">Vegetarian
                    <input type="checkbox" name="vegetarian" value="vegetarian">
                    <span class="checkmark"></span>
                </label>
                
                <label class="container">Vegan
                    <input type="checkbox" name="vegan" value="vegan">
                    <span class="checkmark"></span>
                </label>
                
                <div class="row third">
                    <div class="input-field">
                    <button class="btn-search" type="submit">Confirm</button>
            </form>
            <form action="/delete" method="POST">
                    <button class="btn-delete" id="delete">Delete</button>                
            </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>



    <div class="navbar">
        <form action="/wheel" method="POST" class="wheel">
            {% csrf_token %}
            <button>Wheel</button>
        </form>
    </div>


    <form action="/logout" method="POST" class="logout">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>


</body>

<script>
    $('.btn').click(function() {
        $('.wrap').slideToggle(400);
    });
    $('.dropdown').click(function () {
        $(this).attr('tabindex', 1).focus();
        $(this).toggleClass('active');
        $(this).find('.dropdown-menu').slideToggle(300);
    });
    $('.dropdown').focusout(function () {
        $(this).removeClass('active');
        $(this).find('.dropdown-menu').slideUp(300);
    });
    $('.dropdown .dropdown-menu li').click(function () {
        $(this).parents('.dropdown').find('span').text($(this).text());
        $(this).parents('.dropdown').find('input').attr('value', $(this).attr('id'));
    });
    /*End Dropdown Menu*/

    $('.dropdown-menu li').click(function () {
        var input = '<strong>' + $(this).parents('.dropdown').find('input').val() + '</strong>',
            msg = '<span class="msg">Hidden input value: ';
        $('.msg').html(msg + input + '</span>');
    });

    const customSelects = document.querySelectorAll("select");
    const deleteBtn = document.getElementById('delete')
    const choices = new Choices('select',
    {
        searchEnabled: false,
        removeItemButton: true,
        itemSelectText: '',
    });
    for (let i = 0; i < customSelects.length; i++)
    {
        customSelects[i].addEventListener('addItem', function(event)
        {
            if (event.detail.value)
        {
            let parent = this.parentNode.parentNode
            parent.classList.add('valid')
            parent.classList.remove('invalid')
        }
        else
        {
            let parent = this.parentNode.parentNode
            parent.classList.add('invalid')
            parent.classList.remove('valid')
        }
      }, false);
    }
    deleteBtn.addEventListener("click", function(e)
    {
        e.preventDefault()
        const deleteAll = document.querySelectorAll('.choices__button')
        for (let i = 0; i < deleteAll.length; i++)
        {
            deleteAll[i].click();
        }
    });

</script>

</html>