<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration successful!</title>
    {% load static %}
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'project_app/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'project_app/css/success.css' %}">
    <!-- CSS RESET -->
    <link rel="stylesheet" href="{% static 'project_app/css/normalize.css' %}">
</head>

<body>
    <div class="top">
        <h1>How 
    Hungry
        Are
            You?
        </h1>
        <h6>A food decision application designed by:
                        Jason Lu
                            Masa Hanatate
                                and Jason Wang
        </h6>
    </div>

    <div class="box">
        <h2>Success</h2>
        <h3> Welcome, {{datakey.first_name}}!</h3>
        <h4>Click below to get started</h4>
    </div>

    <div class="navbar">
        <form action="/wheel" method="POST" class="wheel">
            {% csrf_token %}
            <button>Wheel</button>
        </form>
    </div>
</body>

</html>