<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    #map {
        height: 500px;
      }
    </style>
</head>
<body>
    {{restaurant_name}}
    {{restaurant_address}}
    <!-- <iframe width="600"
          height="450"
          frameborder="0"
          zoom = '13'
          style="border:0"
          src="https://www.google.com/maps/embed/v1/view?center={{ latitude }},{{ longitude }}&zoom=18&key={{api_key}}"
          allowfullscreen>
    </iframe> -->
    <div id="map"></div>
    <script>

      function initMap() {
        var myLatLng = {lat: {{latitude}}, lng: {{longitude}}};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap">
    </script>
    <img src="{{restaurant_image_url}}" alt="restaurant_image">
</body>
</html>