<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>H2AY</title>
    {% load static%}
    <!-- LOCAL CSS -->
    <link rel="stylesheet" href="{% static 'project_app/css/wheel.css' %}">
    <!-- CSS RESET -->
    <link rel="stylesheet" href="{% static 'project_app/css/normalize.css' %}">
    <!-- JAVASCRIPT -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- <script src="{% static 'project_app/js/wheel.js' %}"></script> -->
</head>

<body>
    <div class="top">
        <h1>How 
    Hungry
        Are
            You?
            </h1>
        <h6>A food decision application designed by:
                        Jason Lu
                            Masa Hanatate
                                and Jason Wang
        </h6>
    </div>

    <div class="roulette">
        <div class="spinner">
            <div class="triangle">
                <!--span.text=String.fromCharCode(65+i)--><span class="text">?</span>
            </div>
            <div class="triangle">
                <!--span.text=String.fromCharCode(65+i)--><span class="text">?</span>
            </div>
            <div class="triangle">
                <!--span.text=String.fromCharCode(65+i)--><span class="text">?</span>
            </div>
            <div class="triangle">
                <!--span.text=String.fromCharCode(65+i)--><span class="text">?</span>
            </div>
            <div class="triangle">
                <!--span.text=String.fromCharCode(65+i)--><span class="text">?</span>
            </div>
            <div class="triangle">
                <!--span.text=String.fromCharCode(65+i)--><span class="text">?</span>
            </div>
            <div class="triangle">
                <!--span.text=String.fromCharCode(65+i)--><span class="text">?</span>
            </div>
            <div class="triangle">
                <!--span.text=String.fromCharCode(65+i)--><span class="text">?</span>
            </div>
            <div class="triangle">
                <!--span.text=String.fromCharCode(65+i)--><span class="text">?</span>
            </div>
            <div class="triangle">
                <!--span.text=String.fromCharCode(65+i)--><span class="text">?</span>
            </div>
            <div class="triangle">
                <!--span.text=String.fromCharCode(65+i)--><span class="text">?</span>
            </div>
            <div class="triangle">
                <!--span.text=String.fromCharCode(65+i)--><span class="text">?</span>
            </div>
        </div>
        <div class="button button-spin" onclick="spin()"><span>MUNCH</span></div>
    </div>

    <div class="navbar">
        <form action="/preferences" method="POST" class="preferences">
            {% csrf_token %}
            <button>Preferences</button>
        </form>
    </div>

</body>

<script>
    var count = $(".triangle").length;
    var spin = function (index) {
        var $spinner = $(".spinner");

        var value = index >= 0 ? index : parseInt(Math.random() * count);

        var preffix = "index-";

        $spinner.toggleClass("spin");
        $spinner[0].className = $spinner[0].className.replace(
            new RegExp("(^|\\s)" + preffix + "\\S+", "g"),
            "");

        $spinner.addClass(preffix + value);

        setTimeout(function () {
        window.location.href = "/process_wheel";
        }, 1600);

    };

</script>


</html>