@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,700,900");

body {
  font-family: "Work Sans", sans-serif;
  user-select: none;
  background-color: white;
}

h1 {
  position: absolute;
  top: 1em;
  left: 3em;
  font-size: 2.4em;
  margin: 0;
  white-space: pre;
  z-index: 999;
  color: black;
  font-weight: 800;
  line-height: 0.9;
  text-transform: uppercase;
  transition: ease .3s;
}

h1:hover {
  color: #F79E02;
}

h6 {
  position: absolute;
  top: 4em;
  left: 11em;
  font-size: 1.0em;
  margin: 0;
  white-space: pre;
  z-index: 999;
  color: #E85A4F;
  font-weight: 800;
  line-height: 0.9;
  text-transform: uppercase;
}

#survey form {
  width: 60%;
  margin: 60px auto;
  background: #efefef;
  padding: 60px 120px 80px 120px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  position: relative;
  margin: 40px 0px;
}

input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
}

.line-box {
  position: relative;
  width: 100%;
  height: 2px;
  background: #BCBCBC;
}

.line {
  position: absolute;
  width: 0%;
  height: 2px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: #8BC34A;
  transition: ease .6s;
}

input:focus+.line-box .line {
  width: 100%;
}

.label-txt {
  position: absolute;
  top: -1.6em;
  padding: 10px;
  font-family: sans-serif;
  font-size: .8em;
  letter-spacing: 1px;
  color: rgb(120, 120, 120);
  transition: ease .3s;
}

.label-active {
  top: -3em;
}

button {
  display: inline-block;
  padding: 12px 24px;
  background: rgb(220, 220, 220);
  font-weight: bold;
  color: rgb(120, 120, 120);
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: ease .3s;
}

button:hover {
  background: #8BC34A;
  color: #ffffff;
}

.create {
  margin: 0 0 0 0;
}


ul {
  list-style: none;
  margin: 2% 5% 0 0;
}

.error {
  margin: 2% 0 0 0;
  display: block;
}

.btn {
  font-weight: bold;
  width: 20%;
  background-color: #5bc1ff;
  color: #000;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 0 0 5px 5px;
}

.btn:hover {
  background-color: #8BC34A;
}

.wrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80%;
  background: white;
  padding: 20% 20px 40px 20px;
  display: none;
  border-bottom: 1px solid #5bc1ff;
}

.container2 {
  position: absolute;
  top: 0;
  width: 800px;
  overflow: hidden;
}

/* FORMS */
.form {
  border: none;
  border-bottom: 3px solid #5bc1ff;
  background: none;
  padding: 5px 10px;
  font-size: 16px;
  margin: 0 10px;
  color: #FFF;
}

.form:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #FFF;
  opacity: 0.5;
}
