@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,700,900");

body {
    width: auto;
    font-family: "Work Sans", sans-serif;
    height: 100vh;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
}

h1 {
    position: absolute;
    top: 1em;
    left: 1em;
    font-size: 2.4em;
    margin: 0;
    white-space: pre;
    z-index: 999;
    color: black;
    font-weight: 800;
    line-height: 0.9;
    text-transform: uppercase;
}

h2 {
    display: block;
    position: absolute;
    font-size: 2.4em;
    margin: 0;
    white-space: pre;
    z-index: 999;
    color: black;
    font-weight: 800;
    line-height: 0.9;
    text-transform: uppercase;
}

h1:hover {
    color: black;
}

h6 {
    position: absolute;
    top: 4em;
    left: 8em;
    font-size: 1.0em;
    margin: 0;
    white-space: pre;
    z-index: 999;
    color: #E85A4F;
    font-weight: 800;
    line-height: 0.9;
    text-transform: uppercase;
}

.result_bar {
    position: absolute;
    top: 15%;
    left: 15%;
    right: 0;
    width: 70%;
    height: 10%;
    border-radius: 20px;
    border: 3px solid #374785;
    background: #374785;
}

h3 {
    position: absolute;
    left: 1%;
    bottom: 10%;
    font-size: 38px;
    height: auto;
    width: auto;
    color: white;
}

h4 {
    position: absolute;
    left: 1%;
    top: 20%;
    font-size: 25px;
    height: auto;
    width: 100%;
    color: gold;
}

a {
    color: white;
    transition: ease .3s;
}

a:hover {
    color: #E85A4F;
}

#map {
    position: absolute;
    top: 27%;
    left: 15%;
    right: 0;
    width: 34%;
    height: 60%;
    border-radius: 20px;
    border: 3px solid #374785;
    color:#E85A4F
}

.photo_block {
    position: absolute;
    top: 27%;
    left: 51%;
    right: 0;
    width: 34%;
    height: 60%;
    border-radius: 20px;
    border: 3px solid #374785;
    color:#E85A4F
}

img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.navbar {
    position: absolute;
    top: 90%;
    width: 100%;
    height: 10%;
    border-radius: 20px;
}

.navbar .wheel {
    height: 100%;
}

.navbar .wheel button {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 12px 24px;
    background: #E85A4F;
    font-weight: bold;
    font-size: 25px;
    color: white;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
    border-radius: 10px;
}

.navbar button:hover {
    background: #374785;
    color: #ffffff;
}
