@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,700,900");

body {
    font-family: "Work Sans", sans-serif;
    height: 100vh;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
}

.box {
    position: absolute;
    z-index: 1;
    font-size: 1em;
    width: 50em;
    height: 11em;
    top: 75%;
    left: 50%;
    margin-top: -25em;
    margin-left: -25em;
    text-align: center;
    background: #14A76C;
    border-radius: 20px;
    transition: ease 0.5s;
}

h1 {
    position: absolute;
    top: 1em;
    left: 1em;
    font-size: 2.4em;
    margin: 0;
    white-space: pre;
    z-index: 999;
    color: black;
    font-weight: 800;
    line-height: 0.9;
    text-transform: uppercase;
    transition: ease .3s;
}

h1:hover {
    color: #F79E02;
}

h2 {
    position: absolute;
    top: 2em;
    left: 0;
    right: 0;
    font-size: 1.5em;
    margin: 0;
    white-space: pre;
    z-index: 999;
    color: white;
    font-weight: 800;
    line-height: 0.9;
    text-transform: uppercase;
    transition: ease .3s;
}

h3 {
    position: absolute;
    top: 4em;
    left: 0;
    right: 0;
    font-size: 1.5em;
    margin: 0;
    white-space: pre;
    z-index: 999;
    color: white;
    font-weight: 800;
    line-height: 0.9;
    text-transform: uppercase;
    transition: ease .3s;
}

h4 {
    position: absolute;
    top: 6em;
    left: 0;
    right: 0;
    font-size: 1.5em;
    margin: 0;
    white-space: pre;
    z-index: 999;
    color: white;
    font-weight: 800;
    line-height: 0.9;
    text-transform: uppercase;
    transition: ease .3s;
}

h6 {
    position: absolute;
    top: 4em;
    left: 8em;
    font-size: 1.0em;
    margin: 0;
    white-space: pre;
    z-index: 999;
    color: #E85A4F;
    font-weight: 800;
    line-height: 0.9;
    text-transform: uppercase;
}

.navbar {
    position: absolute;
    top: 90%;
    width: 100%;
    height: 10%;
}

.navbar .wheel {
    height: 100%;
}

.navbar .wheel button {
    position: absolute;
    font-size: 1em;
    width: 25%;
    height: 100%;
    top: -50%;
    left: 37%;
    right: 0;
    margin-top: -12.25em;
    text-align: center;
    background: #E85A4F;
    border-radius: 20px;
    transition: ease 0.5s;
    font-weight: bold;
    font-size: 25px;
    color: #ffffff;
}

.navbar button:hover {
    background: #374785;
}

.alert {
    padding: 20px;
    background-color: #14A76C; /* Red */
    color: white;
    margin-bottom: 15px;
    position: absolute;
    top: 20%;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 15px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}