@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,700,900");

body {
    font-family: "Work Sans", sans-serif;
    height: 100vh;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
}

.roulette {
    position: relative;
    z-index: 1;
    font-size: 1em;
    width: 50em;
    height: 50em;
    top: 50%;
    left: 50%;
    margin-top: -25em;
    margin-left: -25em;
}

.roulette .spinner {
    width: 50em;
    height: 50em;
    position: relative;
    transition: -webkit-transform 1.5s cubic-bezier(0, 0.4, 0.4, 1.025);
    transition: transform 1.5s cubic-bezier(0, 0.4, 0.4, 1.025);
    transition: transform 1.5s cubic-bezier(0, 0.4, 0.4, 1.025), -webkit-transform 1.5s cubic-bezier(0, 0.4, 0.4, 1.025);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 25em 25em;
    transform-origin: 25em 25em;
}

.roulette .spinner.index-0 {
    -webkit-transform: rotate(5714.25deg);
    transform: rotate(5714.25deg);
}

.roulette .spinner.spin.index-0 {
    -webkit-transform: rotate(2834.25deg);
    transform: rotate(2834.25deg);
}

.roulette .spinner.index-0 .triangle:nth-of-type(1) .text {
    opacity: 1;
    transition: all 0.6s 1.5s;
}

.roulette .spinner.index-1 {
    -webkit-transform: rotate(5684.25deg);
    transform: rotate(5684.25deg);
}

.roulette .spinner.spin.index-1 {
    -webkit-transform: rotate(2804.25deg);
    transform: rotate(2804.25deg);
}

.roulette .spinner.index-1 .triangle:nth-of-type(2) .text {
    opacity: 1;
    transition: all 0.6s 1.5s;
}

.roulette .spinner.index-2 {
    -webkit-transform: rotate(5654.25deg);
    transform: rotate(5654.25deg);
}

.roulette .spinner.spin.index-2 {
    -webkit-transform: rotate(2774.25deg);
    transform: rotate(2774.25deg);
}

.roulette .spinner.index-2 .triangle:nth-of-type(3) .text {
    opacity: 1;
    transition: all 0.6s 1.5s;
}

.roulette .spinner.index-3 {
    -webkit-transform: rotate(5624.25deg);
    transform: rotate(5624.25deg);
}

.roulette .spinner.spin.index-3 {
    -webkit-transform: rotate(2744.25deg);
    transform: rotate(2744.25deg);
}

.roulette .spinner.index-3 .triangle:nth-of-type(4) .text {
    opacity: 1;
    transition: all 0.6s 1.5s;
}

.roulette .spinner.index-4 {
    -webkit-transform: rotate(5594.25deg);
    transform: rotate(5594.25deg);
}

.roulette .spinner.spin.index-4 {
    -webkit-transform: rotate(2714.25deg);
    transform: rotate(2714.25deg);
}

.roulette .spinner.index-4 .triangle:nth-of-type(5) .text {
    opacity: 1;
    transition: all 0.6s 1.5s;
}

.roulette .spinner.index-5 {
    -webkit-transform: rotate(5564.25deg);
    transform: rotate(5564.25deg);
}

.roulette .spinner.spin.index-5 {
    -webkit-transform: rotate(2684.25deg);
    transform: rotate(2684.25deg);
}

.roulette .spinner.index-5 .triangle:nth-of-type(6) .text {
    opacity: 1;
    transition: all 0.6s 1.5s;
}

.roulette .spinner.index-6 {
    -webkit-transform: rotate(5534.25deg);
    transform: rotate(5534.25deg);
}

.roulette .spinner.spin.index-6 {
    -webkit-transform: rotate(2654.25deg);
    transform: rotate(2654.25deg);
}

.roulette .spinner.index-6 .triangle:nth-of-type(7) .text {
    opacity: 1;
    transition: all 0.6s 1.5s;
}

.roulette .spinner.index-7 {
    -webkit-transform: rotate(5504.25deg);
    transform: rotate(5504.25deg);
}

.roulette .spinner.spin.index-7 {
    -webkit-transform: rotate(2624.25deg);
    transform: rotate(2624.25deg);
}

.roulette .spinner.index-7 .triangle:nth-of-type(8) .text {
    opacity: 1;
    transition: all 0.6s 1.5s;
}

.roulette .spinner.index-8 {
    -webkit-transform: rotate(5474.25deg);
    transform: rotate(5474.25deg);
}

.roulette .spinner.spin.index-8 {
    -webkit-transform: rotate(2594.25deg);
    transform: rotate(2594.25deg);
}

.roulette .spinner.index-8 .triangle:nth-of-type(9) .text {
    opacity: 1;
    transition: all 0.6s 1.5s;
}

.roulette .spinner.index-9 {
    -webkit-transform: rotate(5444.25deg);
    transform: rotate(5444.25deg);
}

.roulette .spinner.spin.index-9 {
    -webkit-transform: rotate(2564.25deg);
    transform: rotate(2564.25deg);
}

.roulette .spinner.index-9 .triangle:nth-of-type(10) .text {
    opacity: 1;
    transition: all 0.6s 1.5s;
}

.roulette .spinner.index-10 {
    -webkit-transform: rotate(5414.25deg);
    transform: rotate(5414.25deg);
}

.roulette .spinner.spin.index-10 {
    -webkit-transform: rotate(2534.25deg);
    transform: rotate(2534.25deg);
}

.roulette .spinner.index-10 .triangle:nth-of-type(11) .text {
    opacity: 1;
    transition: all 0.6s 1.5s;
}

.roulette .spinner.index-11 {
    -webkit-transform: rotate(5384.25deg);
    transform: rotate(5384.25deg);
}

.roulette .spinner.spin.index-11 {
    -webkit-transform: rotate(2504.25deg);
    transform: rotate(2504.25deg);
}

.roulette .spinner.index-11 .triangle:nth-of-type(12) .text {
    opacity: 1;
    transition: all 0.6s 1.5s;
}

.roulette .triangle {
    position: absolute;
    width: 0;
    height: 0;
    top: -25em;
    left: 25em;
    -webkit-transform-origin: 0% 50em;
    transform-origin: 0% 50em;
    border: 0 solid transparent;
    border-top-width: 50.125em;
    border-right-width: 50em/1/tan(30deg);
}

.roulette .triangle:nth-of-type(1) {
    -webkit-transform: rotate(30deg) scale(2);
    transform: rotate(30deg) scale(2);
    color: white;
    border-top-color: #dc0936;
    z-index: 11;
}

.roulette .triangle:nth-of-type(2) {
    -webkit-transform: rotate(60deg) scale(2);
    transform: rotate(60deg) scale(2);
    color: white;
    border-top-color: #e5177b;
    z-index: 10;
}

.roulette .triangle:nth-of-type(3) {
    -webkit-transform: rotate(90deg) scale(2);
    transform: rotate(90deg) scale(2);
    color: white;
    border-top-color: #be107f;
    z-index: 9;
}

.roulette .triangle:nth-of-type(4) {
    -webkit-transform: rotate(120deg) scale(2);
    transform: rotate(120deg) scale(2);
    color: white;
    border-top-color: #881f7e;
    z-index: 8;
}

.roulette .triangle:nth-of-type(5) {
    -webkit-transform: rotate(150deg) scale(2);
    transform: rotate(150deg) scale(2);
    color: white;
    border-top-color: #3f297e;
    z-index: 7;
}

.roulette .triangle:nth-of-type(6) {
    -webkit-transform: rotate(180deg) scale(2);
    transform: rotate(180deg) scale(2);
    color: white;
    border-top-color: #1d61ac;
    z-index: 6;
}

.roulette .triangle:nth-of-type(7) {
    -webkit-transform: rotate(210deg) scale(2);
    transform: rotate(210deg) scale(2);
    color: white;
    border-top-color: #169ed8;
    z-index: 5;
}

.roulette .triangle:nth-of-type(8) {
    -webkit-transform: rotate(240deg) scale(2);
    transform: rotate(240deg) scale(2);
    color: white;
    border-top-color: #209b6c;
    z-index: 4;
}

.roulette .triangle:nth-of-type(9) {
    -webkit-transform: rotate(270deg) scale(2);
    transform: rotate(270deg) scale(2);
    color: white;
    border-top-color: #60b236;
    z-index: 3;
}

.roulette .triangle:nth-of-type(10) {
    -webkit-transform: rotate(300deg) scale(2);
    transform: rotate(300deg) scale(2);
    color: white;
    border-top-color: #efe61f;
    z-index: 2;
}

.roulette .triangle:nth-of-type(11) {
    -webkit-transform: rotate(330deg) scale(2);
    transform: rotate(330deg) scale(2);
    color: white;
    border-top-color: #f7a416;
    z-index: 1;
}

.roulette .triangle:nth-of-type(12) {
    -webkit-transform: rotate(360deg) scale(2);
    transform: rotate(360deg) scale(2);
    color: white;
    border-top-color: #e6471d;
    z-index: 0;
}

.roulette .triangle .text {
    color: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border-radius: 100%;
    background: #374785;
    -webkit-transform: rotate(15deg) translateY(-8em) translateX(-1.5em);
    transform: rotate(15deg) translateY(-8em) translateX(-1.5em);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    text-align: center;
    font-weight: 800;
    font-size: 0.7em;
    opacity: 1.0;
    transition: all 0 0;
    box-shadow: 0 1.0px 1px rgba(0, 0, 0, 0.24), 0 1.0px 1px rgba(0, 0, 0, 0.12);
}

.roulette .triangle .text i {
    font-size: 2em;
    line-height: 0.7;
    vertical-align: middle;
    display: inline-block;
}

.button {
    display: block;
    text-align: center;
    font-weight: 800;
    background: #E85A4F;
    position: absolute;
    z-index: 999;
    border-radius: 100%;
    border: none;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    color: white;
    text-decoration: wavy;
    cursor: pointer;
    letter-spacing: -0.05em;
    transition: ease .5s;
}

.button:hover,
.button:active {
    color: #FAED26;
    background: #374785;
}

.button-spin {
    width: 10em;
    height: 10em;
    line-height: 10em;
    top: 50%;
    left: 50%;
    margin-left: -5em;
    margin-top: -5em;
    font-weight: 800;
    z-index: 998;
}

.button-spin:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.button-spin span {
    font-size: 1.6em;
}

h1 {
    position: absolute;
    top: 1em;
    left: 1em;
    font-size: 2.4em;
    margin: 0;
    white-space: pre;
    z-index: 999;
    color: black;
    font-weight: 800;
    line-height: 0.9;
    text-transform: uppercase;
    transition: ease .3s;
}

h1:hover {
    color: #F79E02;
}

h6 {
    position: absolute;
    top: 4em;
    left: 8em;
    font-size: 1.0em;
    margin: 0;
    white-space: pre;
    z-index: 999;
    color: #E85A4F;
    font-weight: 800;
    line-height: 0.9;
    text-transform: uppercase;
}

.navbar {
    position: absolute;
    top: 90%;
    width: 100%;
    height: 10%;
    border-radius: 20px;
}

.navbar .preferences {
    height: 100%;
}

.navbar .preferences button {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 12px 24px;
    background: #374785;
    font-weight: bold;
    font-size: 25px;
    color: white;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
    border-radius: 10px;
}

.navbar button:hover {
    background: #E85A4F;
    color: #ffffff;
}
